<form class="" action='/login' method="get">
  <input type="text" name="user" value="" placeholder="Enter Username">
  <input type="text" name="pass" value="" placeholder="Enter password">
  <input type="submit" name="" value="Login" >

</form>

  <%= flash[:notice] %>
<%=@user%>
